[submodule "backend"]
    path = sistema-de-gestion-de-farmacia---backend
    url = https://github.com/Th3rick2002/sistema-de-gestion-de-farmacia---backend.git
[submodule "frontend"]
    path = sistema-de-gestion-de-farmacia---frontend
    url = https://github.com/Th3rick2002/sistema-de-gestion-de-farmacia---frontend.git